        public IObjectBuilder<T> AddRule(Action<IObjectBuilder<V1PolicyRule>> configure)
        {
            builder.Add(x =>
            {
                var ruleBuilder = ObjectBuilder.Create<V1PolicyRule>();
                configure(ruleBuilder);
                x.Rules ??= [];
                x.Rules.Add(ruleBuilder.Build());
            });
            return builder;
        }
