    public static UpdateBuilder<{{CLASS_NAME}}> WithStatus(this UpdateBuilder<{{CLASS_NAME}}> builder, Action<{{CLASS_NAME}}.{{STATUS_TYPE_NAME}}> configure)
    {
        builder.Add(x =>
        {
            x.Status ??= new {{CLASS_NAME}}.{{STATUS_TYPE_NAME}}();
            configure(x.Status);
        });
        builder.StatusChanged = true;
        return builder;
    }
