        public IObjectBuilder<{{CLASS_NAME}}> WithStatus(Action<{{STATUS_TYPE_NAME}}> configure)
        {
            builder.Add(x =>
            {
                x.Status ??= new();
                configure(x.Status);
            });
            return builder;
        }
